/* Above_footer css here */
.policy i {
  color: rgb(8, 145, 28);
  font-size: 30px;
  padding: 10px 0;
}
.policy h2 {
  font-size: 20px;
  font-weight: bold;
}
.policy p {
  font-weight: 200;
  padding: 10px 0;
}

/* Above_footer css end here */

.middle-footer h6 {
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  justify-content: center;
  align-content: center;
}
.middle-footer > ul li {
  padding: 5px 0;
  font-weight: 400;
}

.middle-footer {
  border-style: solid;
  border-color: rgb(52, 47, 47);
  border-width: 2px 0;
}

.middle-footer .payment-partners img {
  padding: 0 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.middle-footer h2 {
  font-size: 15px;
}
.middle-footer .apps {
  width: 200px;
  height: auto;
}

/* Making middle footer responsive */

@media screen and (max-width: 1000px) {
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

/* Making footer responsive */
@media screen and (max-width: 1000px) {
  .footer-bottom {
    display: inline;
    margin: 10px;
  }
  .content {
    text-align: center;
  }
  .social-links {
    justify-content: center;
  }
}
